@font-face {
	font-family: 'silkscreenbold';
	src: url('../fonts/slkscrb-webfont.eot');
	src: url('../fonts/slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/slkscrb-webfont.woff') format('woff'),
		url('../fonts/slkscrb-webfont.ttf') format('truetype'),
		url('../fonts/slkscrb-webfont.svg#silkscreenbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	height: 100%;
	font-family: 'silkscreenbold', Verdana, Arial, sans-serif;
	background-color: #C4D7ED;
	font-size: 20px;
	line-height: 14px;
}

.brand {
	line-height: 26px;
	margin-bottom: 20px;
	text-align: center;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
	-webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition: box-shadow 0.30s ease-in-out;
	-ms-transition: box-shadow 0.30s ease-in-out;
	-o-transition: box-shadow 0.30s ease-in-out;
	outline: none;
	padding: 4px 10px;
	border: 1px solid #DDDDDD;
	font-family: Verdana, Arial, sans-serif;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow: 0 0 2px #333333;
}

.form-control {
	margin-bottom: 20px;
}

.btn {
	font-family: 'silkscreenbold', Verdana, Arial, sans-serif;
	color: #ffffff;
	font-size: 20px;
	background-color: #2b92d6;
	padding: 16px 14px;
	text-decoration: none;
	border: none;
}

.btn:hover {
	background-color: #2facfa;
	text-decoration: none;
}

.btn-block {
	display: block;
	width: 100%;
}

.wrapper {
	display: table;
	margin: 0 auto;
}

.debug {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	width: 350px;
	height: 450px;
	background-color: #F4F4F4;
	border: 3px solid #888888;
	overflow: auto;
	display: none;
	z-index: 999;
}

.toggle-debug {
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

.debug > .toggle-debug {
	right: 10px;
	bottom: 10px;
}

/* board */
.board {
	margin-bottom: 20px;
}

.board > table {
	border: 3px solid #888888;
	border-collapse: collapse;
	background-color: #F4F4F4;
}

.board > table > tbody > tr > td {
	border: 1px solid #888888;
	padding: 12px;
}

.box {
	position: relative;
	width: 80px;
	height: 80px;
}

.coordinates {
	position: absolute;
	z-index: 99;
	bottom: -8px;
	right: -8px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

/* pawn */
.pawn {
	position: absolute;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	border-radius: 9999px;
	text-align: center;
	border: 1px solid #C3C3C3;
	z-index: 99;
	-moz-box-shadow: 2px 2px 8px -5px #656565;
	-webkit-box-shadow: 2px 2px 8px -5px #656565;
	-o-box-shadow: 2px 2px 8px -5px #656565;
	box-shadow: 2px 2px 8px -5px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=8);
}

.yellow {
	background-color: #FDD131;
}

.blue {
	background-color: #99C4EC;
}

.playable {
	border-color: green;
}

.movable {
	border-style: dashed !important;
}

.blocked {
	border-color: red;
}

/* mgr */
.mgr {
	margin-bottom: 20px;
	padding: 16px;
	background-color: #F4F4F4;
}

.mgr > h3:first-child {
	margin-top: 0;
}

.pn {
	text-shadow: rgba(150, 150, 150, 0.6) 0.1em 0.1em 0.2em;
}

.pn-one {
	color: #FDD131;
}

.pn-two {
	color: #99C4EC;
}
